* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: #2d83aa;
  height: 50px;
  padding: 10px;
}
.gallery {
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.photo-card {
  width: calc(97% / 3);
  margin-right: 10px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  margin-bottom: 5px;
}
.wrapper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-more {
  background-color: #2d83aa;
  border: none;
  height: 30px;
  border-radius: 10px;
}
input {
  border: 0px;
  border-radius: 10px;
  margin-right: 5px;
}
.btn-submit {
  border-radius: 10px;
  border: 0px;
}
.img-thumb {
  margin-bottom: 5px;
}
.img-thumb:nth-child(3n) {
  margin-right: 0px;
}
.img-link {
  display: block;
}
.hide {
  display: none;
}
img {
  width: 100%;
  height: 200px;
}
.info {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}
.info-item {
  color: #2b9bc0;
  margin-bottom: 2px;
  margin-top: 2px;
}
.info-span {
  font-weight: normal;
}
